<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Tambahkan ekstensi .php secara otomatis jika file ada
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>

# MIME types untuk font web modern
<IfModule mod_mime.c>
    AddType font/woff2 .woff2
    AddType font/woff .woff
</IfModule>

DirectoryIndex index.php index.html
